#todoListContainer{
    width  : 22em;
    margin : 5em auto;
    border-radius: 0.25em;
}
#todoListHeader{
    background: #6098ba;
    background: -moz-linear-gradient(top,  #6098ba 0%, #4d86a8 48%, #066dab 100%);
    background: -webkit-linear-gradient(top,  #6098ba 0%,#4d86a8 48%,#066dab 100%);
    background: linear-gradient(to bottom,  #6098ba 0%,#4d86a8 48%,#066dab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6098ba', endColorstr='#066dab',GradientType=0 );
    text-align: center;
    line-height: 4em;
    z-index: 99999999 !important;
    border-top-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
}
#todoListHeader h2{
    margin : 0;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px black;
}
#todoListBody{
    background-color: #F5F6F7;
    box-shadow:
        0 1px 1px rgba(0,0,0,0.15), /* The top layer shadow */
        0 10px 0 -5px #eee, /* The second layer */
        0 10px 1px -4px rgba(0,0,0,0.15), /* The second layer shadow */
        0 20px 0 -10px #eee, /* The third layer */
        0 20px 1px -9px rgba(0,0,0,0.15); /* The third layer shadow */
}

#tasksList {
    list-style: none;
    padding-left: 0;
    margin : 0px;
    max-height: 25em;
    overflow-y: hidden;
}
#checkBoxPlaceHolder{
    display: inline-block;
    line-height: 2em;
    width: 14.6%;
    text-align: center;
    padding-top: 1.2em;
    padding-bottom: 1.95em;
}
#taskDescPlaceHolder{
    display: inline-block;
    width: 74%;
    text-align: center;
    border-left: 3px double #fb7f7f;
    margin-left: 15%;
    padding-top: 1em;
    padding-bottom: 1.5em;
}