#todoListContainer{
    width  : 22em;
    margin : 5em auto;
    border-radius: 0.25em;
}
#todoListHeader{
    background: #6098ba;
    background: -moz-linear-gradient(top,  #6098ba 0%, #4d86a8 48%, #066dab 100%);
    background: -webkit-linear-gradient(top,  #6098ba 0%,#4d86a8 48%,#066dab 100%);
    background: linear-gradient(to bottom,  #6098ba 0%,#4d86a8 48%,#066dab 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6098ba', endColorstr='#066dab',GradientType=0 );
    text-align: center;
    line-height: 4em;
    z-index: 99999999 !important;
    border-top-right-radius: 0.4em;
    border-top-left-radius: 0.4em;
}
#todoListHeader h2{
    margin : 0;
    color: white;
    font-weight: 500;
    font-family: sans-serif;
    text-shadow: 2px 2px 5px black;
}
#todoListBody{
    background-color: #F5F6F7;
    border-radius: 0 0 0.25em 0.25em;
    margin-top: -5px;
}

#tasksList {
    list-style: none;
    padding-left: 0;
    margin-top : -10px;
    margin-bottom : 1px;
}
#checkBoxPlaceHolder{
    display: inline-block;
    line-height: 2em;
    width: 15%;
    text-align: center;
    border-right: 1px solid #fb7f7f;
    padding-top: 1.2em;
    padding-bottom: 1.95em;
}
#taskDescPlaceHolder{
    display: inline-block;
    width: 74%;
    text-align: center;
    border-left: 1px solid #fb7f7f;
    margin-left: -2.5px;
    padding-top: 1em;
    padding-bottom: 1.5em;
}
#txtNewTask{
    line-height: 2em;
    width : 80%;
    padding: 0.5em;
    background-color : "lightgray";
    border-radius : 0.35em;
}